.box5 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left5,
.right5,
.middle5,
.box5 {
  height: 200px;
}
.left5 {
  background: lightblue;
  width: 100px;
}

.right5 {
  background: orange;
  width: 100px;
}
.middle5 {
  background: lightpink;
  width: 100%;
  margin: 0 20px;
}
