.MultilineBox {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 2px solid;
  overflow: hidden;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
